/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Stick+No+Bills:wght@200..800&display=swap');

* {
  font-family: "Manrope", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #013565;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

a:hover {
  color: #FFC300;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}



/******************** TEMPLATE *****************/

/* HEADER */

header {
  background: linear-gradient(180deg, rgba(0, 8, 20, 0.2), rgba(0, 8, 20, 0.2), rgba(0, 8, 20, 0.2), rgba(0, 29, 61, 0.2), rgba(1, 49, 94, 0.2), rgba(1, 53, 101, 0.2));
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1rem 2rem;
}

.logo {
  font-family: "Stick No Bills", serif;
  font-weight: 800;
  font-size: 3rem;
  color: #FFC300;
}

.navbar {
  font-family: 'Manrope';
  min-width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar li {
  font-weight: 500;
  font-size: 1.5rem;
  list-style-type: none;
}

.admin-logo {
  width: 6.3rem;
  height: 6.3rem;
}

/* FOOTER */

.footer {
  background: linear-gradient(180deg, rgba(1, 53, 101, 0.2), rgba(1, 49, 94, 0.2), rgba(0, 29, 61, 0.2), rgba(0, 8, 20, 0.2), rgba(0, 8, 20, 0.2), rgba(0, 8, 20, 0.2));
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  padding: 1.6rem 0 1.6rem 0.1rem;

}