/* GENERAL */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body {
  background: #013565;
}

/* HEADER */

header {
  background: linear-gradient(180deg, rgba(0, 8, 20, 0.2), rgba(0, 8, 20, 0.2), rgba(0, 8, 20, 0.2), rgba(0, 29, 61, 0.2), rgba(1, 49, 94, 0.2), rgba(1, 53, 101, 0.2));
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.logo {
  font-family: 'Post No Bills Jaffna ExtraBold', 'Roboto Condensed';
  font-weight: 800;
  font-size: 3rem;
  color: #FFC300;
}

.navbar {
  font-family: 'Manrope';
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar li {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 1.5rem;
  list-style-type: none;
}

.navbar li a {
  color: #FFFFFF;
  text-decoration: none;
}

.admin-logo {
  width: 6.3rem;
  height: 6.3rem;
}

/* SEARCBAR SECTION */

.searchbar-background {
  height: 70vh;
  background: url('../img/rectangle15.jpeg');
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.searchbar-section {
  position: relative;
  
}

#search {
  width: 40rem;
  height: 4rem;
  border-radius: 20px;
  border: none;
  padding: 1.5rem;
}

#send {
  position: absolute;
  background-color: #ffc300;
  color: #013565;
  right: 0;
  font-size: 1.6013565em;
  height: 4rem;
  width: 6rem;
  border-radius: 20px;
  border: 2px solid #00030a;
}


/* GENRE SECTION */

.section-2 {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  
}

.action {
  margin-top: 5.3rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 1rem;
  color: rgba(255, 195, 0, 0.7);
}
.horror {
  overflow-wrap: break-word;
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 1rem;
  color: rgba(255, 195, 0, 0.7);
}
.comedy {
  overflow-wrap: break-word;
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 1rem;
  color: rgba(255, 195, 0, 0.7);
}
.fantasy {
  overflow-wrap: break-word;
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 1rem;
  color: rgba(255, 195, 0, 0.7);
}


.search-bar-1 {
  position: relative;
  padding: 3rem 0;
  width: 37rem;
  height: 12rem;
  
}

.genre-box {
  background: url('../img/rectangle82.png') 50% / cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7.8rem 0 0.8rem 0.6rem;
  width: 21.2rem;
  
}
.genre-box-1 {
  background: url('../img/rectangle5.png');
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7.8rem 0rem 0.8rem 0;
  width: 21.2rem;
  
}
.genre-box-2 {
  background: url('../img/rectangle83.png') 50% / cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7.8rem 0rem 0.8rem 0;
  width: 21.2rem;
  
}
.genre-box-3 {
  background: url('../img/rectangle81.png') 50% / cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 2.5rem 0 0.8rem 2rem;
  width: 21.2rem;
  
}
.genre-list {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: row;
  column-gap: 0.7rem;
  width: fit-content;
  
}

.choose-agenre {
  margin-bottom: 1.2rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1.5rem;
  color: #FFFFFF;
}
.rectangle-7 {
  background: url('../img/rectangle7.png');
  width: 2.5rem;
  height: 10rem;
}
.line-1 {
  background: #FFC300;
  height: 0.1rem;
}
.filmopedia {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1.5rem;
  color: rgba(255, 195, 0, 0.5);
}
.arrow-1 {
  position: absolute;
  right: 0rem;
  bottom: 3.1rem;
  width: 2.5rem;
  height: 1.9rem;
}
.arrow-2 {
  margin: 0 4.4rem 4.2rem 0;
  width: 2.5rem;
  height: 2.5rem;
}
/* FOOTER */

.footer {
  background: linear-gradient(180deg, rgba(1, 53, 101, 0.2), rgba(1, 49, 94, 0.2), rgba(0, 29, 61, 0.2), rgba(0, 8, 20, 0.2), rgba(0, 8, 20, 0.2), rgba(0, 8, 20, 0.2));
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.6rem 0 1.6rem 0.1rem;
  
}